body {
  padding-top: 40px;
}

.landing h1 {
	font-size: 45px;
	padding-top: 70px;
	font-weight: bold;
	text-shadow: black 2px 2px 6px;
}

.landing {
	background-image:url('../img/city_night_2.png');
	background-repeat:no-repeat;
	background-position:center;
	height:420px;
}

.write {
	background-image:url('../img/write.png');
	background-repeat:no-repeat;
	background-position:center;
	height:221px;
}

h1.write {

	font-size: 100px;
}

.direct {
	background-image:url('../img/direct.png');
	background-repeat:no-repeat;
	background-position:center;
	height:221px;
}

.repeat {
	background-image:url('../img/repeat.png');
	background-repeat:no-repeat;
	background-position:center;
	height:221px;
}