body {
  padding-top: 40px;
}

.landing h1 {
	font-size: 45px;
	padding-top: 60px;
	font-weight: bold;
	text-shadow: black 2px 2px 6px;
}

.navbar a.brand {
padding: 5px 15px 5px;
font-size: 24px;
}

.landing {
	background-image:url('../img/city_night_3.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;
	padding-bottom:30px;
}

img.marketing_img {
	display: block;
	background-repeat:no-repeat;
	margin-left: auto;   
	margin-right: auto;
}

h1.marketing {
	text-align:center;
}

.write {
	padding-top: 20px;
}

.direct {
	padding-top: 20px;
}

.repeat {
	padding-top: 20px;
}